In [20]:
from SPARQLWrapper import SPARQLWrapper, JSON
from tqdm.notebook import tqdm
import pandas as pd
import time
from tqdm.notebook import tqdm
import pickle

In [2]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql", agent="Chrome/87.0 (Ismail.Harrando@eurecom.fr) SPARQLWrapper")

In [3]:
classes = {
    "Organization": "Q43229", #includes companies
    "Name": "Q82799",
    "Artist": "Q483501",
    "Geolocation": "Q2221906",
    "City": "Q515",
    "Capital": "Q5119",
    "Town": "Q3957",
    "Demonym": "Q217438",
    "Product": "Q2424752",
    "Brand": "Q431289",
    "Georegion": "Q82794",
    "Country": "Q6256",
}

In [4]:
len(classes)

12

In [23]:
%%time
# From https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples#Cats
results = {}
limit = 20000

for label, wikidata_code in tqdm(classes.items()):
    print(label, wikidata_code)
    results[label] = []
    offset = 0
    while True:
        try:
             #  ?entity ?entityLabel ?entityAltLabel ?entityDescription
            query = """
                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {{
                      {{
                        SELECT DISTINCT ?entity WHERE {{
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:{};
                                  wdt:P31 ?class
                        }}
                        OFFSET {}
                        LIMIT {}
                      }}
                      SERVICE wikibase:label {{ bd:serviceParam wikibase:language 'en' }}
                    }}
                    """.format(wikidata_code, offset*limit, limit)
            if offset == 0:
                print(query)
            sparql.setQuery(query)
            sparql.setReturnFormat(JSON)
            offset += 1
            if len(sparql.query().convert()['results']['bindings']) > 0:
                result = sparql.query().convert()['results']['bindings']
                results[label].append(result)
                print(f'{len(results[label][-1])} of results returned at offset {offset}')
            else:
                print(f'No more results returned (offset {offset})')
                break
        except Exception as e:
            print(f'Exception at label {label} (offset {offset}) : {e}')

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

Organization Q43229

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q43229.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
20000 of results returned at offset 2
20000 of results returned at offset 3
20000 of results returned at offset 4
20000 of results returned at offset 5
20000 of results returned at offset 6
20000 of results returned at offset 7
20000 of results returned at offset 8
20000 of results returned at offset 9
20000 of results returned at offset 10
20000 of results returned at offset 11
20000 of results returned at offset 12
20000 of results returned at offset 13
20000 of results returned at offset 14
20000 of results returned at offset 15
20000 of results returned at offset 16
20000 of results returned at offset 17
20000 of results returned at offset 18
20000 of results returned at offset 19
20000 of results returned at offset 20
20000 of results returned at offset 21
20000 of results returned at offset 22
20000 of results returned at offset 23
20000 of results returned at offset 24
20000 of results returned at offset 25
20000 of results returned at offset 26
20000 of results returned at offset 27
20000 of results returned at offset 28
20000 of results returned at offset 29
20000 of results returned at offset 30
20000 of results returned at offset 31
20000 of results returned at offset 32
20000 of results returned at offset 33
20000 of results returned at offset 34
20000 of results returned at offset 35
20000 of results returned at offset 36
20000 of results returned at offset 37
20000 of results returned at offset 38
20000 of results returned at offset 39
20000 of results returned at offset 40
20000 of results returned at offset 41
20000 of results returned at offset 42
20000 of results returned at offset 43
20000 of results returned at offset 44
20000 of results returned at offset 45
20000 of results returned at offset 46
32 of results returned at offset 47
No more results returned (offset 48)
Name Q82799

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q82799.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
6626 of results returned at offset 2
No more results returned (offset 3)
Artist Q483501

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q483501.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

175 of results returned at offset 1
No more results returned (offset 2)
Geolocation Q2221906

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q2221906.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
20000 of results returned at offset 2
20000 of results returned at offset 3
20000 of results returned at offset 4
20000 of results returned at offset 5
20000 of results returned at offset 6
20000 of results returned at offset 7
20000 of results returned at offset 8
20000 of results returned at offset 9
20000 of results returned at offset 10
20000 of results returned at offset 11
20000 of results returned at offset 12
20000 of results returned at offset 13
20000 of results returned at offset 14
20000 of results returned at offset 15
20000 of results returned at offset 16
20000 of results returned at offset 17
20000 of results returned at offset 18
20000 of results returned at offset 19
20000 of results returned at offset 20
20000 of results returned at offset 21
20000 of results returned at offset 22
20000 of results returned at offset 23
20000 of results returned at offset 24
20000 of results returned at offset 25
20000 of results returned at offset 26
20000 of results returned at offset 27
20000 of results returned at offset 28
20000 of results returned at offset 29
20000 of results returned at offset 30
20000 of results returned at offset 31
20000 of results returned at offset 32
20000 of results returned at offset 33
20000 of results returned at offset 34
20000 of results returned at offset 35
20000 of results returned at offset 36
20000 of results returned at offset 37
20000 of results returned at offset 38
20000 of results returned at offset 39
20000 of results returned at offset 40
20000 of results returned at offset 41
20000 of results returned at offset 42
20000 of results returned at offset 43
20000 of results returned at offset 44
20000 of results returned at offset 45
20000 of results returned at offset 46
20000 of results returned at offset 47
20000 of results returned at offset 48
20000 of results returned at offset 49
20000 of results returned at offset 50
20000 of results returned at offset 51
20000 of results returned at offset 52
20000 of results returned at offset 53
20000 of results returned at offset 54
20000 of results returned at offset 55
20000 of results returned at offset 56
20000 of results returned at offset 57
20000 of results returned at offset 58
20000 of results returned at offset 59
20000 of results returned at offset 60
20000 of results returned at offset 61
20000 of results returned at offset 62
20000 of results returned at offset 63
20000 of results returned at offset 64
20000 of results returned at offset 65
20000 of results returned at offset 66
20000 of results returned at offset 67
20000 of results returned at offset 68
20000 of results returned at offset 69
20000 of results returned at offset 70
20000 of results returned at offset 71
20000 of results returned at offset 72
20000 of results returned at offset 73
20000 of results returned at offset 74
20000 of results returned at offset 75
20000 of results returned at offset 76
20000 of results returned at offset 77
20000 of results returned at offset 78
20000 of results returned at offset 79
20000 of results returned at offset 80
20000 of results returned at offset 81
20000 of results returned at offset 82
20000 of results returned at offset 83
20000 of results returned at offset 84
20000 of results returned at offset 85
20000 of results returned at offset 86
20000 of results returned at offset 87
20000 of results returned at offset 88
20000 of results returned at offset 89
20000 of results returned at offset 90
20000 of results returned at offset 91
20000 of results returned at offset 92
20000 of results returned at offset 93
20000 of results returned at offset 94
20000 of results returned at offset 95
20000 of results returned at offset 96
20000 of results returned at offset 97
20000 of results returned at offset 98

20000 of results returned at offset 99
20000 of results returned at offset 100
20000 of results returned at offset 101
20000 of results returned at offset 102
20000 of results returned at offset 103
20000 of results returned at offset 104
20000 of results returned at offset 105
20000 of results returned at offset 106
20000 of results returned at offset 107
20000 of results returned at offset 108
20000 of results returned at offset 109
20000 of results returned at offset 110
20000 of results returned at offset 111
20000 of results returned at offset 112
20000 of results returned at offset 113
20000 of results returned at offset 114
20000 of results returned at offset 115
20000 of results returned at offset 116
20000 of results returned at offset 117
20000 of results returned at offset 118
20000 of results returned at offset 119
20000 of results returned at offset 120
20000 of results returned at offset 121
20000 of results returned at offset 122
20000 of results returned at offset 123
20000 of results returned at offset 124
20000 of results returned at offset 125
20000 of results returned at offset 126
20000 of results returned at offset 127
20000 of results returned at offset 128
20000 of results returned at offset 129
20000 of results returned at offset 130
20000 of results returned at offset 131
20000 of results returned at offset 132
20000 of results returned at offset 133
20000 of results returned at offset 134
20000 of results returned at offset 135
20000 of results returned at offset 136
20000 of results returned at offset 137
20000 of results returned at offset 138
20000 of results returned at offset 139
20000 of results returned at offset 140
20000 of results returned at offset 141
20000 of results returned at offset 142
20000 of results returned at offset 143
20000 of results returned at offset 144
20000 of results returned at offset 145
20000 of results returned at offset 146
20000 of results returned at offset 147
20000 of results returned at offset 148
20000 of results returned at offset 149
20000 of results returned at offset 150
20000 of results returned at offset 151
20000 of results returned at offset 152
20000 of results returned at offset 153
20000 of results returned at offset 154
4129 of results returned at offset 155
No more results returned (offset 156)
City Q515

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q515.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
8038 of results returned at offset 2
No more results returned (offset 3)
Capital Q5119

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q5119.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

588 of results returned at offset 1
No more results returned (offset 2)
Town Q3957

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q3957.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
20000 of results returned at offset 2
4671 of results returned at offset 3
No more results returned (offset 4)
Demonym Q217438

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q217438.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

618 of results returned at offset 1
No more results returned (offset 2)
Product Q2424752

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q2424752.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
20000 of results returned at offset 2
20000 of results returned at offset 3
7102 of results returned at offset 4
No more results returned (offset 5)
Brand Q431289

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q431289.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

5359 of results returned at offset 1
No more results returned (offset 2)
Georegion Q82794

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q82794.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

20000 of results returned at offset 1
20000 of results returned at offset 2
20000 of results returned at offset 3
20000 of results returned at offset 4
20000 of results returned at offset 5
20000 of results returned at offset 6
20000 of results returned at offset 7
20000 of results returned at offset 8
20000 of results returned at offset 9
20000 of results returned at offset 10
20000 of results returned at offset 11
20000 of results returned at offset 12
20000 of results returned at offset 13
20000 of results returned at offset 14
20000 of results returned at offset 15
20000 of results returned at offset 16
20000 of results returned at offset 17
20000 of results returned at offset 18
20000 of results returned at offset 19
20000 of results returned at offset 20
20000 of results returned at offset 21
20000 of results returned at offset 22
20000 of results returned at offset 23
20000 of results returned at offset 24
20000 of results returned at offset 25
20000 of results returned at offset 26
20000 of results returned at offset 27
20000 of results returned at offset 28
20000 of results returned at offset 29
20000 of results returned at offset 30

20000 of results returned at offset 31
20000 of results returned at offset 32
20000 of results returned at offset 33
20000 of results returned at offset 34
20000 of results returned at offset 35
20000 of results returned at offset 36
20000 of results returned at offset 37
20000 of results returned at offset 38
20000 of results returned at offset 39
20000 of results returned at offset 40
20000 of results returned at offset 41
20000 of results returned at offset 42
20000 of results returned at offset 43
20000 of results returned at offset 44
20000 of results returned at offset 45
20000 of results returned at offset 46
20000 of results returned at offset 47
20000 of results returned at offset 48
20000 of results returned at offset 49
20000 of results returned at offset 50
20000 of results returned at offset 51
20000 of results returned at offset 52
20000 of results returned at offset 53
20000 of results returned at offset 54
20000 of results returned at offset 55
20000 of results returned at offset 56
20000 of results returned at offset 57
20000 of results returned at offset 58
20000 of results returned at offset 59
20000 of results returned at offset 60
20000 of results returned at offset 61
20000 of results returned at offset 62
20000 of results returned at offset 63
20000 of results returned at offset 64
20000 of results returned at offset 65
20000 of results returned at offset 66
20000 of results returned at offset 67
20000 of results returned at offset 68
20000 of results returned at offset 69
20000 of results returned at offset 70
20000 of results returned at offset 71
20000 of results returned at offset 72
20000 of results returned at offset 73
20000 of results returned at offset 74
20000 of results returned at offset 75
20000 of results returned at offset 76
20000 of results returned at offset 77
20000 of results returned at offset 78
20000 of results returned at offset 79
20000 of results returned at offset 80
20000 of results returned at offset 81
20000 of results returned at offset 82
20000 of results returned at offset 83
20000 of results returned at offset 84
12939 of results returned at offset 85
No more results returned (offset 86)
Country Q6256

                    SELECT DISTINCT ?entity ?entityLabel ?entityAltLabel ?entityDescription
                    WHERE
                    {
                      {
                        SELECT DISTINCT ?entity WHERE {
                          ?entity wdt:P31|wdt:P31/wdt:P279|wdt:P31/wdt:P279/wdt:P279 wd:Q6256.
                        }
                        OFFSET 0
                        LIMIT 20000
                      }
                      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en' }
                    }

396 of results returned at offset 1
No more results returned (offset 2)

In [ ]:
for label in classes:
    print(label.upper())
    print(len(results[label]), 'results')
    print(len(results_2[label]), 'results')
    print(0 if label not in results_3 else len(results_3[label]), 'results')
    print('')

In [25]:
for label in classes:
    print(label.upper())
    print('About', len(results[label]) * limit, 'results')
    print('')

ORGANIZATION
About 940000 results

NAME
About 40000 results

ARTIST
About 20000 results

GEOLOCATION
About 3100000 results

CITY
About 40000 results

CAPITAL
About 20000 results

TOWN
About 60000 results

DEMONYM
About 20000 results

PRODUCT
About 80000 results

BRAND
About 20000 results

GEOREGION
About 1700000 results

COUNTRY
About 20000 results

In [26]:
# v1.0 working with {0,2}
# v1.1 adding classes QID
pickle.dump(results, open('gazetteers_v1.1_results.pickle', 'wb'))

In [ ]:
'''
SELECT distinct  ?entity (GROUP_CONCAT(?class ; SEPARATOR = ';') as ?classes)
WHERE 
{ 
     ?entity wdt:P31/wdt:P279* wd:Q82799;
             wdt:P31 ?class.
}
GROUP BY ?entity
LIMIT 100
'''

In [42]:
%%time
# From https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples#Cats
# results_classes = {}
limit = 10000

for label, wikidata_code in tqdm(classes.items()):
    print(label, wikidata_code)
    if label in ['Organization', 'Name', 'Artist', 'City', "Capital", 'Town', 'Demonym', "Product", 
                 'Brand']:
        continue
    results_classes[label] = []
    offset = 0
    while True:
        try:
             #  ?entity ?entityLabel ?entityAltLabel ?entityDescription
            query = """
                    SELECT distinct  ?entity (GROUP_CONCAT(?class ; SEPARATOR = ';') as ?classes)
                    WHERE 
                    {{
                         ?entity wdt:P31|wdt:P31/wdt:P279 wd:{};
                                 wdt:P31 ?class.
                    }}
                    GROUP BY ?entity
                    OFFSET {}
                    LIMIT {}
                    """.format(wikidata_code, offset*limit, limit)
            if offset == 0:
                print(query)
            sparql.setQuery(query)
            sparql.setReturnFormat(JSON)
            offset += 1
            if len(sparql.query().convert()['results']['bindings']) > 0:
                result = sparql.query().convert()['results']['bindings']
                results_classes[label].append(result)
                print(f'{len(results_classes[label][-1])} of results returned at offset {offset}')
            else:
                print(f'No more results returned (offset {offset})')
                break
        except Exception as e:
            if str(e).startswith('EndPointInternalError'):
                e = 'Wikidata TimeoutException'
                offset -= 1
                time.sleep(30)
            print(f'Exception at label {label} (offset {offset}) : {e}')

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

Organization Q43229
Name Q82799
Artist Q483501
Geolocation Q2221906

                    SELECT distinct  ?entity (GROUP_CONCAT(?class ; SEPARATOR = ';') as ?classes)
                    WHERE
                    {
                         ?entity wdt:P31|wdt:P31/wdt:P279 wd:Q2221906;
                                 wdt:P31 ?class.
                    }
                    GROUP BY ?entity
                    OFFSET 0
                    LIMIT 10000

10000 of results returned at offset 1
10000 of results returned at offset 2
10000 of results returned at offset 3
10000 of results returned at offset 4
10000 of results returned at offset 5
10000 of results returned at offset 6
10000 of results returned at offset 7
10000 of results returned at offset 8
10000 of results returned at offset 9
10000 of results returned at offset 10
10000 of results returned at offset 11
10000 of results returned at offset 12
10000 of results returned at offset 13
10000 of results returned at offset 14
10000 of results returned at offset 15
Exception at label Geolocation (offset 15) : Wikidata TimeoutException
10000 of results returned at offset 16
10000 of results returned at offset 17
10000 of results returned at offset 18
10000 of results returned at offset 19
10000 of results returned at offset 20
10000 of results returned at offset 21
10000 of results returned at offset 22
10000 of results returned at offset 23
10000 of results returned at offset 24
10000 of results returned at offset 25
10000 of results returned at offset 26
10000 of results returned at offset 27
10000 of results returned at offset 28
10000 of results returned at offset 29
10000 of results returned at offset 30
10000 of results returned at offset 31
10000 of results returned at offset 32
10000 of results returned at offset 33
10000 of results returned at offset 34
10000 of results returned at offset 35
10000 of results returned at offset 36
Exception at label Geolocation (offset 36) : Wikidata TimeoutException
10000 of results returned at offset 37
10000 of results returned at offset 38
Exception at label Geolocation (offset 39) : Remote end closed connection without response
Exception at label Geolocation (offset 39) : Wikidata TimeoutException
10000 of results returned at offset 40
10000 of results returned at offset 41
10000 of results returned at offset 42
10000 of results returned at offset 43
10000 of results returned at offset 44
Exception at label Geolocation (offset 45) : Remote end closed connection without response
10000 of results returned at offset 46
10000 of results returned at offset 47
10000 of results returned at offset 48
Exception at label Geolocation (offset 49) : Remote end closed connection without response
10000 of results returned at offset 50
10000 of results returned at offset 51
Exception at label Geolocation (offset 52) : Remote end closed connection without response
Exception at label Geolocation (offset 52) : Wikidata TimeoutException
10000 of results returned at offset 53
10000 of results returned at offset 54
10000 of results returned at offset 55
10000 of results returned at offset 56
10000 of results returned at offset 57
Exception at label Geolocation (offset 57) : Wikidata TimeoutException
Exception at label Geolocation (offset 58) : HTTP Error 504: Gateway Timeout
10000 of results returned at offset 59
10000 of results returned at offset 60
10000 of results returned at offset 61
10000 of results returned at offset 62
10000 of results returned at offset 63
10000 of results returned at offset 64
10000 of results returned at offset 65
10000 of results returned at offset 66
10000 of results returned at offset 67
Exception at label Geolocation (offset 67) : Wikidata TimeoutException
10000 of results returned at offset 68
Exception at label Geolocation (offset 68) : Wikidata TimeoutException
10000 of results returned at offset 69
10000 of results returned at offset 70
10000 of results returned at offset 71
10000 of results returned at offset 72
10000 of results returned at offset 73
10000 of results returned at offset 74
10000 of results returned at offset 75
10000 of results returned at offset 76
Exception at label Geolocation (offset 76) : Wikidata TimeoutException
10000 of results returned at offset 77
10000 of results returned at offset 78
10000 of results returned at offset 79
Exception at label Geolocation (offset 79) : Wikidata TimeoutException
10000 of results returned at offset 80
Exception at label Geolocation (offset 81) : Remote end closed connection without response
10000 of results returned at offset 82
10000 of results returned at offset 83
10000 of results returned at offset 84
Exception at label Geolocation (offset 85) : Remote end closed connection without response
10000 of results returned at offset 86
10000 of results returned at offset 87
10000 of results returned at offset 88
Exception at label Geolocation (offset 89) : Remote end closed connection without response
10000 of results returned at offset 90
10000 of results returned at offset 91
10000 of results returned at offset 92
10000 of results returned at offset 93
10000 of results returned at offset 94
10000 of results returned at offset 95
10000 of results returned at offset 96
10000 of results returned at offset 97
10000 of results returned at offset 98
10000 of results returned at offset 99
10000 of results returned at offset 100
10000 of results returned at offset 101
10000 of results returned at offset 102
10000 of results returned at offset 103
10000 of results returned at offset 104
10000 of results returned at offset 105
10000 of results returned at offset 106
Exception at label Geolocation (offset 107) : Remote end closed connection without response
10000 of results returned at offset 108
Exception at label Geolocation (offset 108) : Wikidata TimeoutException
Exception at label Geolocation (offset 108) : Wikidata TimeoutException
10000 of results returned at offset 109
Exception at label Geolocation (offset 110) : Remote end closed connection without response
10000 of results returned at offset 111
Exception at label Geolocation (offset 112) : Remote end closed connection without response
Exception at label Geolocation (offset 113) : Remote end closed connection without response
10000 of results returned at offset 114
10000 of results returned at offset 115
10000 of results returned at offset 116
10000 of results returned at offset 117
10000 of results returned at offset 118
Exception at label Geolocation (offset 118) : Wikidata TimeoutException
Exception at label Geolocation (offset 118) : Wikidata TimeoutException
10000 of results returned at offset 119
10000 of results returned at offset 120
10000 of results returned at offset 121
10000 of results returned at offset 122
Exception at label Geolocation (offset 122) : Wikidata TimeoutException
Exception at label Geolocation (offset 122) : Wikidata TimeoutException
10000 of results returned at offset 123
Exception at label Geolocation (offset 124) : Remote end closed connection without response
Exception at label Geolocation (offset 124) : Wikidata TimeoutException
10000 of results returned at offset 125
Exception at label Geolocation (offset 125) : Wikidata TimeoutException
10000 of results returned at offset 126
Exception at label Geolocation (offset 126) : Wikidata TimeoutException
10000 of results returned at offset 127
10000 of results returned at offset 128
Exception at label Geolocation (offset 128) : Wikidata TimeoutException
Exception at label Geolocation (offset 128) : Wikidata TimeoutException
10000 of results returned at offset 129
Exception at label Geolocation (offset 129) : Wikidata TimeoutException
Exception at label Geolocation (offset 129) : Wikidata TimeoutException
10000 of results returned at offset 130
Exception at label Geolocation (offset 130) : Wikidata TimeoutException
Exception at label Geolocation (offset 130) : Wikidata TimeoutException
10000 of results returned at offset 131
10000 of results returned at offset 132
Exception at label Geolocation (offset 132) : Wikidata TimeoutException
Exception at label Geolocation (offset 132) : Wikidata TimeoutException
Exception at label Geolocation (offset 132) : Wikidata TimeoutException

Exception at label Geolocation (offset 132) : Wikidata TimeoutException
Exception at label Geolocation (offset 133) : Remote end closed connection without response
10000 of results returned at offset 134
Exception at label Geolocation (offset 134) : Wikidata TimeoutException
10000 of results returned at offset 135
Exception at label Geolocation (offset 135) : Wikidata TimeoutException
Exception at label Geolocation (offset 135) : Wikidata TimeoutException
10000 of results returned at offset 136
10000 of results returned at offset 137
Exception at label Geolocation (offset 137) : Wikidata TimeoutException
10000 of results returned at offset 138
10000 of results returned at offset 139
Exception at label Geolocation (offset 139) : Wikidata TimeoutException
Exception at label Geolocation (offset 139) : Wikidata TimeoutException
Exception at label Geolocation (offset 139) : Wikidata TimeoutException
10000 of results returned at offset 140
Exception at label Geolocation (offset 140) : Wikidata TimeoutException
10000 of results returned at offset 141
10000 of results returned at offset 142
10000 of results returned at offset 143
Exception at label Geolocation (offset 143) : Wikidata TimeoutException
10000 of results returned at offset 144
10000 of results returned at offset 145
10000 of results returned at offset 146
Exception at label Geolocation (offset 146) : Wikidata TimeoutException
10000 of results returned at offset 147
10000 of results returned at offset 148
Exception at label Geolocation (offset 148) : Wikidata TimeoutException
10000 of results returned at offset 149
10000 of results returned at offset 150
10000 of results returned at offset 151
Exception at label Geolocation (offset 151) : Wikidata TimeoutException
10000 of results returned at offset 152
Exception at label Geolocation (offset 152) : Wikidata TimeoutException
Exception at label Geolocation (offset 152) : Wikidata TimeoutException
10000 of results returned at offset 153
10000 of results returned at offset 154
10000 of results returned at offset 155
10000 of results returned at offset 156
10000 of results returned at offset 157
Exception at label Geolocation (offset 157) : Wikidata TimeoutException
Exception at label Geolocation (offset 157) : Wikidata TimeoutException
10000 of results returned at offset 158
Exception at label Geolocation (offset 158) : Wikidata TimeoutException
Exception at label Geolocation (offset 158) : Wikidata TimeoutException
10000 of results returned at offset 159
10000 of results returned at offset 160
10000 of results returned at offset 161
Exception at label Geolocation (offset 161) : Wikidata TimeoutException
10000 of results returned at offset 162
10000 of results returned at offset 163
Exception at label Geolocation (offset 163) : Wikidata TimeoutException
10000 of results returned at offset 164
Exception at label Geolocation (offset 164) : Wikidata TimeoutException
Exception at label Geolocation (offset 164) : Wikidata TimeoutException
Exception at label Geolocation (offset 164) : Wikidata TimeoutException
Exception at label Geolocation (offset 164) : Wikidata TimeoutException
8383 of results returned at offset 165
Exception at label Geolocation (offset 165) : Wikidata TimeoutException
No more results returned (offset 166)
City Q515
Capital Q5119
Town Q3957
Demonym Q217438
Product Q2424752
Brand Q431289
Georegion Q82794

                    SELECT distinct  ?entity (GROUP_CONCAT(?class ; SEPARATOR = ';') as ?classes)
                    WHERE
                    {
                         ?entity wdt:P31|wdt:P31/wdt:P279 wd:Q82794;
                                 wdt:P31 ?class.
                    }
                    GROUP BY ?entity
                    OFFSET 0
                    LIMIT 10000

10000 of results returned at offset 1
10000 of results returned at offset 2
10000 of results returned at offset 3
10000 of results returned at offset 4
10000 of results returned at offset 5
10000 of results returned at offset 6
10000 of results returned at offset 7
10000 of results returned at offset 8
10000 of results returned at offset 9
10000 of results returned at offset 10
10000 of results returned at offset 11
10000 of results returned at offset 12
10000 of results returned at offset 13
10000 of results returned at offset 14
10000 of results returned at offset 15
10000 of results returned at offset 16
10000 of results returned at offset 17
10000 of results returned at offset 18
10000 of results returned at offset 19
10000 of results returned at offset 20
10000 of results returned at offset 21
10000 of results returned at offset 22
10000 of results returned at offset 23
10000 of results returned at offset 24
10000 of results returned at offset 25
10000 of results returned at offset 26
10000 of results returned at offset 27
10000 of results returned at offset 28
10000 of results returned at offset 29
10000 of results returned at offset 30
10000 of results returned at offset 31
10000 of results returned at offset 32
10000 of results returned at offset 33
10000 of results returned at offset 34
10000 of results returned at offset 35
10000 of results returned at offset 36
10000 of results returned at offset 37
10000 of results returned at offset 38
10000 of results returned at offset 39
10000 of results returned at offset 40
10000 of results returned at offset 41
10000 of results returned at offset 42
10000 of results returned at offset 43
10000 of results returned at offset 44
10000 of results returned at offset 45
10000 of results returned at offset 46
10000 of results returned at offset 47
10000 of results returned at offset 48
10000 of results returned at offset 49
10000 of results returned at offset 50
10000 of results returned at offset 51
10000 of results returned at offset 52
10000 of results returned at offset 53
10000 of results returned at offset 54
10000 of results returned at offset 55
10000 of results returned at offset 56
10000 of results returned at offset 57
10000 of results returned at offset 58
10000 of results returned at offset 59
10000 of results returned at offset 60
10000 of results returned at offset 61
10000 of results returned at offset 62
10000 of results returned at offset 63
10000 of results returned at offset 64
10000 of results returned at offset 65
10000 of results returned at offset 66
10000 of results returned at offset 67
10000 of results returned at offset 68
10000 of results returned at offset 69
10000 of results returned at offset 70
10000 of results returned at offset 71
9716 of results returned at offset 72
No more results returned (offset 73)
Country Q6256

                    SELECT distinct  ?entity (GROUP_CONCAT(?class ; SEPARATOR = ';') as ?classes)
                    WHERE
                    {
                         ?entity wdt:P31|wdt:P31/wdt:P279 wd:Q6256;
                                 wdt:P31 ?class.
                    }
                    GROUP BY ?entity
                    OFFSET 0
                    LIMIT 10000

318 of results returned at offset 1
No more results returned (offset 2)

CPU times: user 49.2 s, sys: 7.89 s, total: 57.1 s
Wall time: 6h 29min 29s

In [43]:
pickle.dump(results_classes, open('results_classes.pickle', 'wb'))

In [44]:
len(results_classes)

12

In [45]:
results_classes.keys()

dict_keys(['Organization', 'Name', 'Artist', 'Geolocation', 'City', 'Capital', 'Town', 'Demonym', 'Product', 'Brand', 'Georegion', 'Country'])

In [63]:
results_classes['Name'][0][1]

{'entity': {'type': 'uri', 'value': 'http://www.wikidata.org/entity/Q80443'},
 'classes': {'type': 'literal',
  'value': 'http://www.wikidata.org/entity/Q16521;http://www.wikidata.org/entity/Q1040689'}}

In [59]:
entity_classes_data = []

for class_label in tqdm(results_classes):
    results = [x for l in results_classes[class_label] for x in l]
    for result in results:
        entity_classes_data.append({
            'entity_qid': result['entity']['value'].split('/')[-1],
            'entity_classes': ';'.join([s.split('/')[-1] for s in result['classes']['value'].split(';')]),
        })

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

In [60]:
df_entity_classes = pd.DataFrame(entity_classes_data)
df_entity_classes

        entity_qid                                     entity_classes
0           Q65968                                            Q164950
1           Q68330                                      Q11032;Q11032
2           Q68682  Q7275;Q465613;Q3024240;Q7275;Q465613;Q3024240;...
3           Q69119                                        Q7278;Q7278
4           Q70738                                        Q7278;Q7278
...            ...                                                ...
3321818       Q224  Q6256;Q179164;Q3624078;Q51576574;Q6256;Q179164...
3321819       Q225                                           Q3624078
3321820       Q230                                           Q3624078
3321821       Q228                                           Q3624078
3321822       Q229                                           Q3624078

[3321823 rows x 2 columns]

In [62]:
df_entity_classes.to_csv('csv/entity_classes.csv', index=False)